# Python
__pycache__/
*.pyc
.venv/
.env
backend/.env
backend/staticfiles/
backend/media/

# Node
node_modules/
frontend/.next/
frontend/out/
frontend/.env.local
frontend/public/sw.js
frontend/public/sw.js.map
frontend/public/swe-worker-*.js

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Docker
*.log
